<ul>
<% @songs.each do |song| %>
  <% if songs.artist.present? %>
    <li><%= display_artist(song) %> - <%= link_to song.title, song_path(song) %></li>
  <% else %>
    <li><%= song.title %> - <%= link_to "Add Artist", edit_song_path(song) %></li>
<% end %>
</ul>
<br>
<%= link_to "Add New Song", new_song_path %>
